<div class="container mt-4">
    <h2>Usuario: {{ user()?.id }}</h2>
    <a class="btn btn-secondary" [routerLink]="['/users']">Regresar</a>
    <div class="mt-3">
        <div class="mb-3">
            <label for="userName" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="userName" [value]="user()?.name" disabled />
        </div>
        <div class="mb-3">
            <label for="userEmail" class="form-label">Email</label>
            <input type="text" class="form-control" id="userEmail" [value]="user()?.email" disabled />
        </div>
        <div class="mb-3">
            <label for="userGender" class="form-label">Genero</label>
            @let gender = user()?.gender === 'male' ? 'Masculino' : 'Femenino';
            <input type="text" class="form-control" id="userGender" [value]="user() ? gender : ''" disabled />
        </div>
        <div class="mb-3">
            <label for="userStatus" class="form-label">Status</label>
            @let status = user()?.status === 'active' ? 'Activo' : 'Inactivo';
            <input type="text" class="form-control" id="userStatus" [value]="user() ? status : ''" disabled />
        </div>
    </div>
</div>